.head{
      color: red;
      font-size: larger;
      font-style: italic;
      background-color: blue;
}
.pip{
      color: greenyellow;
}
.btn{
    height: 7vh;
    width: 13vw;
    border: 2px solid purple;
    border-radius: 15px;  
}