.head{
      color: red;
      font-size: larger;
      font-style: italic;
      background-color: blue;
}

.btn{
    height: 7vh;
    width: 13vw;
    border: 2px solid purple;
    border-radius: 15px;
    background-color: aqua; 
    font-size: 2rem;
    font-weight: bolder; 
}